stellarator_analysis/Q_analysis_not_updated
stellarator_analysis/Q_analysis_retests
stellarator_analysis/scripts
stellarator_analysis/test_cases_not_updated
stellarator_analysis/Helias5
stellarator_analysis/plots
stellarator_analysis/coe_base_cases
stellarator_analysis/coe_with_coil_aspect
stellarator_analysis/desing_space_R_B/HTS_high_stress
stellarator_analysis/coil_aspect_scan/LTS_larger_coil
stellarator_analysis/coil_aspect_scan/LTS_new_configuration
